<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupaits.wx.mapper.MpAccountMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yupaits.wx.entity.MpAccount">
        <id column="id" property="id" />
        <result column="account_name" property="accountName" />
        <result column="related_type" property="relatedType" />
        <result column="related_id" property="relatedId" />
        <result column="app_name" property="appName" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="token" property="token" />
        <result column="encoding_aes_key" property="encodingAesKey" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_name, related_type, related_id, app_name, app_id, app_secret, token, encoding_aes_key, created_at, created_by, updated_at, updated_by, deleted
    </sql>

</mapper>
