<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupaits.msg.mapper.MessageUserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yupaits.msg.entity.MessageUser">
        <id column="id" property="id" />
        <result column="message_id" property="messageId" />
        <result column="user_id" property="userId" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="send_at" property="sendAt" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, message_id, user_id, created_at, created_by, send_at, deleted
    </sql>

</mapper>
