<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupaits.msg.mapper.MessageMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yupaits.msg.entity.Message">
        <id column="id" property="id" />
        <result column="msg_type" property="msgType" />
        <result column="use_template" property="useTemplate" />
        <result column="msg_template_id" property="msgTemplateId" />
        <result column="payload" property="payload" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, msg_type, use_template, msg_template_id, payload, content
    </sql>

</mapper>
