<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupaits.schedule.mapper.JobMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yupaits.schedule.entity.Job">
        <id column="id" property="id" />
        <result column="class_name" property="className" />
        <result column="cron_expression" property="cronExpression" />
        <result column="job_name" property="jobName" />
        <result column="job_group" property="jobGroup" />
        <result column="trigger_name" property="triggerName" />
        <result column="trigger_group" property="triggerGroup" />
        <result column="paused" property="paused" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, class_name, cron_expression, job_name, job_group, trigger_name, trigger_group, paused, description, created_at, created_by, updated_at, updated_by, deleted
    </sql>

</mapper>
