<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" th:href="@{~/favicon.ico}" href="../static/favicon.ico">
  <link rel="stylesheet" th:href="@{~/css/bulma.min.css}" href="../static/css/bulma.min.css">
  <link rel="stylesheet" th:href="@{~/css/index.css}" href="../static/css/index.css">
  <script th:src="@{~/js/fontawesome.js}" src="../static/js/fontawesome.js"></script>
  <script th:src="@{~/js/vue.js}" src="../static/js/vue.js"></script>
  <title th:text="#{app.name}">主页</title>
</head>
<body>
主页
</body>
</html>