<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="login-page">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" th:href="@{~/favicon.ico}" href="../static/favicon.ico">
  <link rel="stylesheet" th:href="@{~/css/bulma.min.css}" href="../static/css/bulma.min.css">
  <link rel="stylesheet" th:href="@{~/css/index.css}" href="../static/css/index.css">
  <script th:src="@{~/js/fontawesome.js}" src="../static/js/fontawesome.js"></script>
  <script th:src="@{~/js/vue.js}" src="../static/js/vue.js"></script>
  <title th:text="#{login.title}">登录</title>
</head>
<body>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="box login-box">
        <p class="has-text-weight-bold is-size-5" th:text="#{login.title}">登录</p>
        <br>
        <form th:action="@{/login}" th:method="post" id="login-form">
          <div class="message is-danger is-small" th:if="${ok} == false" v-if="msgVisible">
            <div class="message-body">
              <span class="is-size-6" th:text="${msg}">出错了！</span>
              <button class="delete is-small is-pulled-right" @click.prevent="handleClose"></button>
            </div>
          </div>
          <div class="field">
            <label class="label is-small">用户名</label>
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" name="username" placeholder="请输入登录用户名"
                     :class="usernameValid ? '' : 'is-danger'" v-model="username"
                     @blur="checkUsername" @input="checkUsername">
              <span class="icon is-left"><i class="fas fa-user"></i></span>
              <span v-if="!usernameValid">
                  <span class="icon is-right"><i class="fas fa-exclamation-triangle"></i></span>
                  <span class="help is-danger">用户名不能为空</span>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label is-small">密码</label>
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="password" name="password" placeholder="请输入登录密码"
                     :class="passwordValid ? '' : 'is-danger'" v-model="password"
                     @blur="checkPassword" @input="checkPassword">
              <span class="icon is-left"><i class="fas fa-lock"></i></span>
              <span v-if="!passwordValid">
                  <span class="icon is-right"><i class="fas fa-exclamation-triangle"></i></span>
                  <span class="help is-danger">密码不能为空</span>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label class="checkbox is-size-7">
                <input type="checkbox" name="rememberMe"> 记住我
              </label>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-primary is-fullwidth" type="submit">登录</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript" type="text/javascript">
  const username = /*[[${data}? ${data.username}]]*/ '';
  const password = /*[[${data}? ${data.password}]]*/ '';
  const loginForm = new Vue({
    el: '#login-form',
    data: {
      username: username,
      password: password,
      msgVisible: true,
      usernameValid: true,
      passwordValid: true
    },
    methods: {
      handleClose() {
        this.msgVisible = false;
      },
      checkUsername() {
        this.usernameValid = this.username;
      },
      checkPassword() {
        this.passwordValid = this.password;
      }
    }
  });
</script>
</body>
</html>