<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupaits.sys.mapper.StoreFileMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yupaits.sys.entity.StoreFile">
        <id column="id" property="id" />
        <result column="filename" property="filename" />
        <result column="group_name" property="groupName" />
        <result column="path" property="path" />
        <result column="privacy" property="privacy" />
        <result column="privacy_code" property="privacyCode" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, filename, group_name, path, privacy, privacy_code, created_at, created_by
    </sql>

</mapper>
