html {
  overflow-y: auto;
  height: 100vh;
}
.columns {
  margin: 0;
}

/* 登录页面 */
.login-page {
  background-image: url("../img/loginbg.jpg");
}
.box.login-box {
  background: rgba(255, 255, 255, .75);
  margin-top: 5rem;
}

/* 错误页面 */
.error-page {
  padding-top: 30rem;
  background: no-repeat center 8rem;
}
.error-404 {
  background-image: url("../img/404.svg");
}
.error-403 {
  background-image: url("../img/403.svg");
}
.error-500 {
  background-image: url("../img/500.svg");
}