html {
    overflow-y: auto;
}
.container.is-fluid {
    background: url("../images/VallettaMalta_ZH-CN11321825930_1920x1080.jpg");
    min-height: calc(100vh + 12px);
    margin: 0;
}
.card {
    background: rgba(255, 255, 255, .75);
}
.login-card {
    margin: 8rem 1rem 0;
    min-width: 26rem;
}