<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="error-page error-500">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" th:href="@{~/favicon.ico}" href="../../static/favicon.ico">
    <link rel="stylesheet" th:href="@{~/css/bulma.min.css}" href="../../static/css/bulma.min.css">
    <link rel="stylesheet" th:inline="css" th:href="@{~/css/index.css}" href="../../static/css/index.css">
    <script th:src="@{~/js/fontawesome.js}" src="../../static/js/fontawesome.js"></script>
    <title th:text="#{page500.title}">500 Internal Server Error</title>
</head>
<body>
<div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
        <div class="title is-size-1">500</div>
        <p class="has-text-grey-light is-size-6" th:text="#{page500.message}"></p>
        <a class="button is-primary" th:href="@{/index}" href="/index">返回主页</a>
    </div>
</div>
</body>
</html>