.btn-success {
  background-color: #389e0d !important;
  color: #fff !important;
  border: 0 !important;
}

.btn-success:hover {
  background-color: #237804 !important;
  color: #fff !important;
  border: 0 !important;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}

.ml-1 {
  margin-left: 8px;
}
.ml-2 {
  margin-left: 16px;
}
.ml-3 {
  margin-left: 24px;
}

.mr-1 {
  margin-right: 8px;
}
.mr-2 {
  margin-right: 16px;
}
.mr-3 {
  margin-right: 24px;
}

.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}

.text-danger {
  color: #f5222d;
}
.text-success {
  color: #5b8c00;
}
.text-warning {
  color: #ffa940;
}
.text-info {
  color: #1890ff;
}
.text-mute {
  color: #8c8c8c;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}

.layout-content {
  background: #fff;
  min-height: calc(100vh - 186px);
  padding: 24px;
  margin: 0 16px;
}

.opt-container {
  padding: 8px 0;
}
.search-input {
  width: 240px;
}
.search-select {
  width: 100px;
}

.pager {
  float: right;
  margin-top: 16px;
}

.form-input {
  max-width: 320px;
}
.form-select {
  max-width: 200px;
}

.drawer-container {
  height: calc(100% - 55px);
  overflow: auto;
  padding-bottom: 53px;
}

.drawer-opt {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  left: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
}